**/.idea
**/target
**/cvs

**/*.log
**/*.sql
**/*.properties
**/*.txt
**/*.iml
**/.env
**/*.y*ml

!**/application-PROD.yaml
!**/docker-compose.yml
!**/docker/build/build.yml
!**/docker/deploy/deploy.yml
